.form {
  width: 700px;
  background-color: #d1a5ff;
opacity: 0.8;
background: radial-gradient(circle, transparent 20%, #d1a5ff 20%, #d1a5ff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #d1a5ff 20%, #d1a5ff 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#000000 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #000000 1.4000000000000001px, #d1a5ff 1.4000000000000001px) -0.7000000000000001px 0;
background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}

